.greybg{
    background-color: lightgrey;
}
.overhead{
    padding-top: 5px;
    display:inline;

}

.navbarcolour{
    background-color: lightpink;
}
.navbar-nav>li>.dropdown-menu{
    background-color: lightpink;
}
.navtext{
    color: rgba(244, 246, 248, 0.903);
}
.navbar-nav>li>.nav-link, .navbar-nav>li>.dropdown-menu>li>a{
    color: rgba(244, 246, 248, 0.903);
}